@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

      
      .cards {
        width: 90%;
        padding: 1em;
        border-radius: 1em;
        background-color:#ccbaa9;
        
        
      }
      
      .cards + .cards {
        margin-top: 1em;
      }
      
      .card {
        position: sticky;
        top: 1em;
        padding: 1.5em;
        border-radius: 1em;
        background-color: red;
      }
      
      .card:nth-child(1) {
        background-color: #dbd8d9;
      }
      
      .card:nth-child(2) {
        background-color:#d3f8f4;
      }
      
      .card:nth-child(3) {
        background-color: #dbd8d9;
      }
      
      .card:nth-child(4) {
        background-color: #d3f8f4;
      }
      
      .card:nth-child(5) {
        background-color: #dbd8d9;
      }
      
      .card:nth-child(6) {
        background-color: #eae0e3;
      }
      
      .card__title {
        margin-top: 0;
        font-family: "Source Sans Pro", sans-serif;
      }
      
      .card__text {
        margin-bottom: 0;
        font-family: "Lora", serif;
      }
      